<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <alias name="test" alias="aliasTest"/>
    <bean id="test" class="pl.sda.beans.Bean" init-method="testMethod">
        <property name="name" value="TestName"/>
    </bean>

    <bean id="test2" parent="test">
        <property name="name" value="TestName2"/>
    </bean>

    <bean id="message"
          class="pl.sda.beans.Message">
        <property name="text" value="Hello" />
        <property name="logins">
            <list>
                <value>jan.kowalski</value>
                <value>anna.chmiel</value>
            </list>
        </property>
        <property name="priority" value="1" />
    </bean>

</beans>