<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <alias name="test" alias="aliasTest"/>
    <bean id="test" class="pl.sda.beans.Bean" init-method="testMethod">
        <property name="name" value="TestName"/>
    </bean>

    <bean id="test2" parent="test">
        <property name="name" value="TestName2"/>
    </bean>


    <bean id="message"
          class="pl.sda.beans.Message">
        <property name="text" value="Hello"/>
        <property name="logins">
            <list>
                <value>jan.kowalski</value>
                <value>anna.chmiel</value>
            </list>
        </property>
        <property name="priority" value="1"/>
    </bean>

    <bean id="user" class="pl.sda.other.User">
        <property name="name" value="Jan"/>
        <property name="room" ref="roomBean"/>
    </bean>
    <bean id="roomBean" class="pl.sda.other.Room">
        <property name="roomNumber" value="27c"/>
        <property name="roomCapacity" value="2"/>
    </bean>

    <bean id="newBean" class="pl.sda.beans.NewBean">
        <constructor-arg>
            <ref bean="firstBean"/>
        </constructor-arg>
        <constructor-arg ref="secondBean"/>
        <constructor-arg type="int" value="1"/>
    </bean>
    <bean id="firstBean" class="pl.sda.beans.FirstBean"/>

    <bean id="secondBean" class="pl.sda.beans.SecondBean"/>

    <bean name="myBean" class="pl.sda.beans.MyBean">
        <constructor-arg value="00001"/>
        <constructor-arg ref="version"/>
        <constructor-arg type="java.util.List">
            <list>
                <value>00020</value>
                <value>15000</value>
                <value>54000</value>
            </list>
        </constructor-arg>
        <property name="subBeens">
            <list>
                <ref bean="subBean1"/>
                <ref bean="subBean2"/>
            </list>
        </property>
        <property name="nameToCountryBean">
            <map>
                <entry key="Poland" value-ref="countryPOL"/>
                <entry key="United States" value-ref="countryUSA"/>
                <entry key="Uganda" value-ref="countryUGA"/>
            </map>
        </property>
    </bean>

    <bean name="version" class="pl.sda.beans.BeanVersion">
        <constructor-arg value="1"/>
    </bean>

    <bean name="childBean" parent="myBean">
        <property name="code" value="00010"/>
    </bean>

    <bean name="subBean1" class="pl.sda.beans.SubBean">
        <constructor-arg value="Kuba"/>
    </bean>

    <bean name="subBean2" class="pl.sda.beans.SubBean">
        <constructor-arg value="Justa"/>
    </bean>

    <bean name="countryPOL" class="pl.sda.beans.CountryBean">
        <property name="continent" value="EUROPE"/>
        <property name="isocode" value="POL"/>
        <property name="name" value="Poland"/>
    </bean>
    <bean name="countryUSA" class="pl.sda.beans.CountryBean">
        <property name="continent" value="NORTH_AMERICA"/>
        <property name="isocode" value="USA"/>
        <property name="name" value="United States"/>
    </bean>
    <bean name="countryUGA" class="pl.sda.beans.CountryBean">
        <property name="continent" value="AFRICA"/>
        <property name="isocode" value="UGA"/>
        <property name="name" value="Uganda"/>
    </bean>

</beans>
